<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>*title</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/js/createForm.js" defer></script>
    <script src="/js/deleteButton.js" defer></script>
</head>

<body>
    <a href="/" id="home"><i class="material-icons">home</i></a>
    <div>
        <h1 id="title">*title</h1>
    </div>
    <div class="center">
        <div class="content">
            *content
        </div>
        <button id="createButton"><i class="material-icons">add</i></button>
        <div id="form-div" class="hidden">
            *form
        </div>
    </div>
</body>

</html>